.upload-items{
    width: max-content;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    float: right;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    /* when positioning fixed initially it is in top left. so to get it customized we should give right:0 or bottom : 0 */
    right: 0;

}
#upload-form {
    display: none;
}

#upload-form.show {
    display: block;
    opacity: 1;
}

