#upload-form {
    width: max-content;
    float: right;
    height: fit-content;
    position: relative;
    display: none;
    opacity: 0.2;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;

}

#upload-form.show {
    display: block;
    opacity: 1;
}
